n8n/workflows/01-lembrete-3-dias.json
{
  "name": "LocX 01 - Lembrete 3 dias antes",
  "nodes": [
    {
      "parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "0 9 * * *"}]}},
      "id": "schedule-lembrete",
      "name": "Todos os dias 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "={{$env.LOCX_API_URL}}/api/n8n/automacoes/pendentes?tipo=lembrete_3_dias",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{$env.LOCX_N8N_TOKEN}}"}, {"name": "Accept", "value": "application/json"}]},
        "options": {}
      },
      "id": "buscar-lembretes",
      "name": "Buscar lembretes pendentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0]
    },
    {
      "parameters": {"fieldToSplitOut": "eventos", "options": {}},
      "id": "separar-lembretes",
      "name": "Separar eventos",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [480, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.LOCX_API_URL}}/api/n8n/automacoes/{{$json.id}}/executar",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{$env.LOCX_N8N_TOKEN}}"}, {"name": "Accept", "value": "application/json"}]},
        "options": {}
      },
      "id": "executar-lembrete",
      "name": "Executar lembrete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 0]
    }
  ],
  "connections": {
    "Todos os dias 09:00": {"main": [[{"node": "Buscar lembretes pendentes", "type": "main", "index": 0}]]},
    "Buscar lembretes pendentes": {"main": [[{"node": "Separar eventos", "type": "main", "index": 0}]]},
    "Separar eventos": {"main": [[{"node": "Executar lembrete", "type": "main", "index": 0}]]}
  },
  "settings": {"timezone": "America/Sao_Paulo"},
  "active": false
}
