n8n/workflows/03-cobranca-1-dia.json
{
  "name": "LocX 03 - Cobrança 1 dia após vencimento",
  "nodes": [
    {
      "parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "10 9 * * *"}]}},
      "id": "schedule-cobranca",
      "name": "Todos os dias 09:10",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "={{$env.LOCX_API_URL}}/api/n8n/automacoes/pendentes?tipo=cobranca_1_dia",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{$env.LOCX_N8N_TOKEN}}"}, {"name": "Accept", "value": "application/json"}]},
        "options": {}
      },
      "id": "buscar-cobrancas",
      "name": "Buscar cobranças pendentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0]
    },
    {
      "parameters": {"fieldToSplitOut": "eventos", "options": {}},
      "id": "separar-cobrancas",
      "name": "Separar eventos",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [480, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.LOCX_API_URL}}/api/n8n/automacoes/{{$json.id}}/executar",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{$env.LOCX_N8N_TOKEN}}"}, {"name": "Accept", "value": "application/json"}]},
        "options": {}
      },
      "id": "executar-cobranca",
      "name": "Enviar cobrança",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 0]
    }
  ],
  "connections": {
    "Todos os dias 09:10": {"main": [[{"node": "Buscar cobranças pendentes", "type": "main", "index": 0}]]},
    "Buscar cobranças pendentes": {"main": [[{"node": "Separar eventos", "type": "main", "index": 0}]]},
    "Separar eventos": {"main": [[{"node": "Enviar cobrança", "type": "main", "index": 0}]]}
  },
  "settings": {"timezone": "America/Sao_Paulo"},
  "active": false
}
